openapi: 3.2.0
info:
  title: Filebase Platform Usage API
  description: The Filebase Platform API provides account-level operations including total storage usage, 24-hour trailing bandwidth metrics, and per-bucket storage consumption. Authentication uses HTTP Basic auth with base64-encoded access key and secret key pairs as a Bearer token. Rate limit is 500 requests per second per account.
  version: v1
  contact:
    name: Filebase Support
    url: https://filebase.com/
    email: support@filebase.com
  termsOfService: https://filebase.com/terms/
  license:
    name: Proprietary
    url: https://filebase.com/terms/
servers:
- url: https://api.filebase.io
  description: Filebase Platform API
security:
- BearerAuth: []
tags:
- name: Usage
  description: Account-level usage and bandwidth metrics
paths:
  /v1/usage:
    get:
      operationId: getUsage
      summary: Get account storage usage
      description: Returns total storage usage in bytes for the account across all buckets.
      tags:
      - Usage
      responses:
        '200':
          description: Account usage statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/usage/bandwidth:
    get:
      operationId: getBandwidthUsage
      summary: Get 24-hour trailing bandwidth metrics
      description: Returns bandwidth usage over the trailing 24-hour period for the account.
      tags:
      - Usage
      responses:
        '200':
          description: Bandwidth usage statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BandwidthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
    BandwidthResponse:
      type: object
      properties:
        bandwidth_bytes:
          type: integer
          format: int64
          description: Bandwidth consumed in the trailing 24 hours (bytes)
        period_start:
          type: string
          format: date-time
          description: Start of the measurement period
        period_end:
          type: string
          format: date-time
          description: End of the measurement period
    UsageResponse:
      type: object
      properties:
        storage_bytes:
          type: integer
          format: int64
          description: Total storage used in bytes
        object_count:
          type: integer
          format: int64
          description: Total number of objects stored
        bucket_count:
          type: integer
          description: Total number of buckets
  responses:
    Unauthorized:
      description: Authentication failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: Rate limit exceeded (500 req/s per account)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: HTTP Basic authentication encoded as base64(accessKey:secretKey) passed as a Bearer token in the Authorization header.
externalDocs:
  description: Filebase Platform API Documentation
  url: https://filebase.com/docs/platform-api/overview
