openapi: 3.2.0
info:
  title: Filebase IPFS RPC IPNS API
  description: The Filebase IPFS RPC API exposes core IPFS daemon functionality through an HTTP interface. Bucket-specific Bearer tokens authenticate all POST requests. Capabilities span data management (add, get, CAR import), pinning (pin/unpin/list), Mutable File System (MFS) operations, keypair management, IPNS publishing and resolution, and daemon information. Enables fine-grained programmatic control over IPFS operations without running a local node.
  version: '1.0'
  contact:
    name: Filebase Support
    url: https://filebase.com/
    email: support@filebase.com
  termsOfService: https://filebase.com/terms/
  license:
    name: Proprietary
    url: https://filebase.com/terms/
servers:
- url: https://rpc.filebase.io
  description: Filebase IPFS RPC API
security:
- BearerAuth: []
tags:
- name: IPNS
  description: IPNS name publishing and resolution
paths:
  /api/v0/name/publish:
    post:
      operationId: namePublish
      summary: Publish IPNS name
      description: Publish an IPFS path to IPNS.
      tags:
      - IPNS
      parameters:
      - name: arg
        in: query
        required: true
        description: IPFS path of the object to be published
        schema:
          type: string
      - name: key
        in: query
        description: Name of the key to be used (default self)
        schema:
          type: string
          default: self
      - name: lifetime
        in: query
        description: Time duration that the record will be valid for (e.g. 24h)
        schema:
          type: string
          default: 24h
      - name: ttl
        in: query
        description: Time duration this record should be cached for
        schema:
          type: string
      responses:
        '200':
          description: IPNS name published
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamePublishResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v0/name/resolve:
    post:
      operationId: nameResolve
      summary: Resolve IPNS name
      description: Resolve IPNS names.
      tags:
      - IPNS
      parameters:
      - name: arg
        in: query
        description: The IPNS name to resolve. Defaults to your node's peerID
        schema:
          type: string
      - name: recursive
        in: query
        description: Resolve until the result is not an IPNS name
        schema:
          type: boolean
          default: true
      - name: nocache
        in: query
        description: Do not use cached entries
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Resolved IPNS name
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameResolveResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    Error:
      type: object
      properties:
        Message:
          type: string
          description: Error message
        Code:
          type: integer
          description: Error code
        Type:
          type: string
          description: Error type
    NameResolveResponse:
      type: object
      properties:
        Path:
          type: string
          description: Resolved IPFS path
    NamePublishResponse:
      type: object
      properties:
        Name:
          type: string
          description: IPNS name
        Value:
          type: string
          description: Resolved IPFS path
  responses:
    Unauthorized:
      description: Unauthorized; Bearer token missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Bucket-specific Bearer token for authentication
externalDocs:
  description: Filebase IPFS RPC API Documentation
  url: https://filebase.com/docs/ipfs/rpc-api
