openapi: 3.2.0
info:
  title: Filebase Buckets API
  contact:
    name: Filebase Support
    url: https://filebase.com/
    email: support@filebase.com
  license:
    name: Proprietary
    url: https://filebase.com/terms/
  termsOfService: https://filebase.com/terms/
  version: '1.0'
  description: 'Operations tagged Buckets across 2 of this provider''s published API definitions: filebase-platform-api-openapi.yml, filebase-s3-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.filebase.io
  description: Filebase Platform API
- url: https://s3.filebase.io
  description: Filebase S3-Compatible Endpoint
- url: https://{bucket}.s3.filebase.io
  description: Filebase S3 Virtual-Hosted-Style Endpoint
  variables:
    bucket:
      default: my-bucket
      description: Bucket name
tags:
- name: Buckets
  description: Per-bucket storage consumption
paths:
  /v1/buckets:
    get:
      operationId: listBuckets
      summary: List buckets with storage consumption
      description: Returns a list of all buckets with per-bucket storage consumption metrics.
      tags:
      - Buckets
      responses:
        '200':
          description: List of buckets with storage usage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BucketListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - BearerAuth: []
    servers:
    - url: https://api.filebase.io
      description: Filebase Platform API
  /v1/buckets/{bucketName}/usage:
    get:
      operationId: getBucketUsage
      summary: Get per-bucket storage consumption
      description: Returns storage consumption metrics for the specified bucket.
      tags:
      - Buckets
      parameters:
      - name: bucketName
        in: path
        required: true
        description: The name of the bucket
        schema:
          type: string
      responses:
        '200':
          description: Bucket storage usage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BucketUsageResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - BearerAuth: []
    servers:
    - url: https://api.filebase.io
      description: Filebase Platform API
  /:
    get:
      operationId: listBuckets
      summary: List all buckets
      description: Returns a list of all buckets owned by the authenticated user. Equivalent to AWS S3 ListBuckets.
      tags:
      - Buckets
      responses:
        '200':
          description: Successfully listed buckets
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ListAllMyBucketsResult'
        '403':
          $ref: '#/components/responses/Forbidden'
      security:
      - AWS4Auth: []
    servers:
    - url: https://s3.filebase.io
      description: Filebase S3-Compatible Endpoint
    - url: https://{bucket}.s3.filebase.io
      description: Filebase S3 Virtual-Hosted-Style Endpoint
      variables:
        bucket:
          default: my-bucket
          description: Bucket name
  /{bucket}:
    parameters:
    - $ref: '#/components/parameters/bucket'
    put:
      operationId: createBucket
      summary: Create a bucket
      description: Creates a new S3-compatible bucket. Bucket names must be unique across all Filebase accounts. IPFS-backed buckets automatically pin all objects with 3x geo-redundant replication.
      tags:
      - Buckets
      responses:
        '200':
          description: Bucket created successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
      security:
      - AWS4Auth: []
    delete:
      operationId: deleteBucket
      summary: Delete a bucket
      description: Deletes an empty bucket. The bucket must be empty before it can be deleted.
      tags:
      - Buckets
      responses:
        '204':
          description: Bucket deleted successfully
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound_2'
        '409':
          $ref: '#/components/responses/Conflict'
      security:
      - AWS4Auth: []
    head:
      operationId: headBucket
      summary: Check bucket existence and access
      description: Returns metadata about the bucket without returning the bucket's contents.
      tags:
      - Buckets
      responses:
        '200':
          description: Bucket exists and is accessible
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound_2'
      security:
      - AWS4Auth: []
    servers:
    - url: https://s3.filebase.io
      description: Filebase S3-Compatible Endpoint
    - url: https://{bucket}.s3.filebase.io
      description: Filebase S3 Virtual-Hosted-Style Endpoint
      variables:
        bucket:
          default: my-bucket
          description: Bucket name
components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
    BucketListResponse:
      type: object
      properties:
        buckets:
          type: array
          items:
            $ref: '#/components/schemas/BucketUsageResponse'
    BucketUsageResponse:
      type: object
      properties:
        name:
          type: string
          description: Bucket name
        storage_bytes:
          type: integer
          format: int64
          description: Storage used by this bucket in bytes
        object_count:
          type: integer
          format: int64
          description: Number of objects in this bucket
        region:
          type: string
          description: Bucket region (always us-east-1 for Filebase)
        created_at:
          type: string
          format: date-time
          description: Bucket creation timestamp
    Error_2:
      type: object
      xml:
        name: Error
      properties:
        Code:
          type: string
        Message:
          type: string
        Resource:
          type: string
        RequestId:
          type: string
    ListAllMyBucketsResult:
      type: object
      xml:
        name: ListAllMyBucketsResult
      properties:
        Owner:
          type: object
          properties:
            ID:
              type: string
            DisplayName:
              type: string
        Buckets:
          type: array
          items:
            type: object
            properties:
              Name:
                type: string
              CreationDate:
                type: string
                format: date-time
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: Rate limit exceeded (500 req/s per account)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: Conflict (bucket already exists or not empty)
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/Error_2'
    NotFound_2:
      description: Resource not found
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/Error_2'
    BadRequest:
      description: Bad request
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/Error_2'
    Forbidden:
      description: Access denied
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/Error_2'
  parameters:
    bucket:
      name: bucket
      in: path
      required: true
      description: Name of the bucket
      schema:
        type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: HTTP Basic authentication encoded as base64(accessKey:secretKey) passed as a Bearer token in the Authorization header.
    AWS4Auth:
      type: apiKey
      in: header
      name: Authorization
      description: AWS Signature Version 4 (AWS4-HMAC-SHA256) with Filebase access key and secret key. Use endpoint s3.filebase.io and region us-east-1.
x-refined-from:
- filebase-platform-api-openapi.yml
- filebase-s3-api-openapi.yml
