openapi: 3.2.0
info:
  title: Filebase IPFS RPC Keypairs API
  description: The Filebase IPFS RPC API exposes core IPFS daemon functionality through an HTTP interface. Bucket-specific Bearer tokens authenticate all POST requests. Capabilities span data management (add, get, CAR import), pinning (pin/unpin/list), Mutable File System (MFS) operations, keypair management, IPNS publishing and resolution, and daemon information. Enables fine-grained programmatic control over IPFS operations without running a local node.
  version: '1.0'
  contact:
    name: Filebase Support
    url: https://filebase.com/
    email: support@filebase.com
  termsOfService: https://filebase.com/terms/
  license:
    name: Proprietary
    url: https://filebase.com/terms/
servers:
- url: https://rpc.filebase.io
  description: Filebase IPFS RPC API
security:
- BearerAuth: []
tags:
- name: Keypairs
  description: IPNS keypair management
paths:
  /api/v0/key/gen:
    post:
      operationId: keyGen
      summary: Create a new keypair
      description: Create a new keypair for use with IPNS.
      tags:
      - Keypairs
      parameters:
      - name: arg
        in: query
        required: true
        description: Name of the key to create
        schema:
          type: string
      - name: type
        in: query
        description: Type of the key to create
        schema:
          type: string
          enum:
          - rsa
          - ed25519
          default: ed25519
      - name: size
        in: query
        description: Size of the key to generate (only for RSA)
        schema:
          type: integer
      responses:
        '200':
          description: Key created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v0/key/list:
    post:
      operationId: keyList
      summary: List all local keypairs
      description: List all keypairs available for IPNS.
      tags:
      - Keypairs
      responses:
        '200':
          description: List of keypairs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    Error:
      type: object
      properties:
        Message:
          type: string
          description: Error message
        Code:
          type: integer
          description: Error code
        Type:
          type: string
          description: Error type
    KeyResponse:
      type: object
      properties:
        Id:
          type: string
          description: Key ID (PeerID format)
        Name:
          type: string
          description: Key name
    KeyListResponse:
      type: object
      properties:
        Keys:
          type: array
          items:
            $ref: '#/components/schemas/KeyResponse'
  responses:
    Unauthorized:
      description: Unauthorized; Bearer token missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Bucket-specific Bearer token for authentication
externalDocs:
  description: Filebase IPFS RPC API Documentation
  url: https://filebase.com/docs/ipfs/rpc-api
