openapi: 3.2.0
info:
  title: Filebase S3-Compatible Multipart Upload API
  description: The Filebase S3-Compatible API provides standard AWS S3 protocol support for bucket and object management. Developers can use any existing S3 SDK, CLI tool, or framework with endpoint s3.filebase.io and region us-east-1. Authentication uses AWS Signature Version 4 (AWS4-HMAC-SHA256) with Filebase access key and secret key pairs. Supported operations include bucket creation and deletion, object upload (including multipart), copy, delete, and listing. Objects stored in IPFS-backed buckets are automatically pinned with 3x geo-redundant replication.
  version: '2006-03-01'
  contact:
    name: Filebase Support
    url: https://filebase.com/
    email: support@filebase.com
  termsOfService: https://filebase.com/terms/
  license:
    name: Proprietary
    url: https://filebase.com/terms/
servers:
- url: https://s3.filebase.io
  description: Filebase S3-Compatible Endpoint
- url: https://{bucket}.s3.filebase.io
  description: Filebase S3 Virtual-Hosted-Style Endpoint
  variables:
    bucket:
      default: my-bucket
      description: Bucket name
security:
- AWS4Auth: []
tags:
- name: Multipart Upload
  description: Large file multipart upload operations
paths:
  /{bucket}/{key}?uploads:
    parameters:
    - $ref: '#/components/parameters/bucket'
    - $ref: '#/components/parameters/key'
    post:
      operationId: createMultipartUpload
      summary: Initiate multipart upload
      description: Initiates a multipart upload and returns an upload ID. Use for large file uploads by splitting them into parts.
      tags:
      - Multipart Upload
      responses:
        '200':
          description: Multipart upload initiated
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/InitiateMultipartUploadResult'
        '403':
          $ref: '#/components/responses/Forbidden'
components:
  schemas:
    Error:
      type: object
      xml:
        name: Error
      properties:
        Code:
          type: string
        Message:
          type: string
        Resource:
          type: string
        RequestId:
          type: string
    InitiateMultipartUploadResult:
      type: object
      xml:
        name: InitiateMultipartUploadResult
      properties:
        Bucket:
          type: string
        Key:
          type: string
        UploadId:
          type: string
  responses:
    Forbidden:
      description: Access denied
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    bucket:
      name: bucket
      in: path
      required: true
      description: Name of the bucket
      schema:
        type: string
    key:
      name: key
      in: path
      required: true
      description: Object key (file path within the bucket)
      schema:
        type: string
  securitySchemes:
    AWS4Auth:
      type: apiKey
      in: header
      name: Authorization
      description: AWS Signature Version 4 (AWS4-HMAC-SHA256) with Filebase access key and secret key. Use endpoint s3.filebase.io and region us-east-1.
externalDocs:
  description: Filebase S3-Compatible API Documentation
  url: https://filebase.com/docs/
