openapi: 3.2.0
info:
  title: Filebase IPFS RPC Pinning API
  description: The Filebase IPFS RPC API exposes core IPFS daemon functionality through an HTTP interface. Bucket-specific Bearer tokens authenticate all POST requests. Capabilities span data management (add, get, CAR import), pinning (pin/unpin/list), Mutable File System (MFS) operations, keypair management, IPNS publishing and resolution, and daemon information. Enables fine-grained programmatic control over IPFS operations without running a local node.
  version: '1.0'
  contact:
    name: Filebase Support
    url: https://filebase.com/
    email: support@filebase.com
  termsOfService: https://filebase.com/terms/
  license:
    name: Proprietary
    url: https://filebase.com/terms/
servers:
- url: https://rpc.filebase.io
  description: Filebase IPFS RPC API
security:
- BearerAuth: []
tags:
- name: Pinning
  description: Pin and unpin IPFS objects
paths:
  /api/v0/pin/add:
    post:
      operationId: pinAdd
      summary: Pin an object
      description: Pin objects to local storage by CID.
      tags:
      - Pinning
      parameters:
      - name: arg
        in: query
        required: true
        description: Path to object(s) to be pinned
        schema:
          type: string
      - name: recursive
        in: query
        description: Recursively pin the object linked to by the specified object(s)
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Pinned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PinAddResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v0/pin/rm:
    post:
      operationId: pinRemove
      summary: Remove pinned objects
      description: Remove pinned objects from local storage.
      tags:
      - Pinning
      parameters:
      - name: arg
        in: query
        required: true
        description: Path to object(s) to be unpinned
        schema:
          type: string
      - name: recursive
        in: query
        description: Recursively unpin the object linked to by the specified object(s)
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Unpinned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PinRmResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v0/pin/ls:
    post:
      operationId: pinList
      summary: List pinned objects
      description: List objects pinned to local storage.
      tags:
      - Pinning
      parameters:
      - name: arg
        in: query
        description: Path to object(s) to be listed
        schema:
          type: string
      - name: type
        in: query
        description: The type of pinned keys to list
        schema:
          type: string
          enum:
          - direct
          - indirect
          - recursive
          - all
          default: all
      - name: quiet
        in: query
        description: Write just hashes of objects
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: List of pinned objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PinLsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    Error:
      type: object
      properties:
        Message:
          type: string
          description: Error message
        Code:
          type: integer
          description: Error code
        Type:
          type: string
          description: Error type
    PinLsResponse:
      type: object
      properties:
        Keys:
          type: object
          additionalProperties:
            type: object
            properties:
              Type:
                type: string
                enum:
                - direct
                - indirect
                - recursive
    PinRmResponse:
      type: object
      properties:
        Pins:
          type: array
          items:
            type: string
          description: List of unpinned CIDs
    PinAddResponse:
      type: object
      properties:
        Pins:
          type: array
          items:
            type: string
          description: List of pinned CIDs
  responses:
    Unauthorized:
      description: Unauthorized; Bearer token missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Bucket-specific Bearer token for authentication
externalDocs:
  description: Filebase IPFS RPC API Documentation
  url: https://filebase.com/docs/ipfs/rpc-api
