openapi: 3.2.0
info:
  title: Filebase IPFS RPC Node API
  description: The Filebase IPFS RPC API exposes core IPFS daemon functionality through an HTTP interface. Bucket-specific Bearer tokens authenticate all POST requests. Capabilities span data management (add, get, CAR import), pinning (pin/unpin/list), Mutable File System (MFS) operations, keypair management, IPNS publishing and resolution, and daemon information. Enables fine-grained programmatic control over IPFS operations without running a local node.
  version: '1.0'
  contact:
    name: Filebase Support
    url: https://filebase.com/
    email: support@filebase.com
  termsOfService: https://filebase.com/terms/
  license:
    name: Proprietary
    url: https://filebase.com/terms/
servers:
- url: https://rpc.filebase.io
  description: Filebase IPFS RPC API
security:
- BearerAuth: []
tags:
- name: Node
  description: IPFS node information
paths:
  /api/v0/id:
    post:
      operationId: nodeId
      summary: Show IPFS node identity
      description: Show IPFS node id info.
      tags:
      - Node
      responses:
        '200':
          description: Node identity information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeIdResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    Error:
      type: object
      properties:
        Message:
          type: string
          description: Error message
        Code:
          type: integer
          description: Error code
        Type:
          type: string
          description: Error type
    NodeIdResponse:
      type: object
      properties:
        ID:
          type: string
          description: PeerID of the node
        PublicKey:
          type: string
          description: Public key of the node
        Addresses:
          type: array
          items:
            type: string
          description: Addresses the node is listening on
        AgentVersion:
          type: string
          description: IPFS version string
        ProtocolVersion:
          type: string
  responses:
    Unauthorized:
      description: Unauthorized; Bearer token missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Bucket-specific Bearer token for authentication
externalDocs:
  description: Filebase IPFS RPC API Documentation
  url: https://filebase.com/docs/ipfs/rpc-api
