openapi: 3.2.0
info:
  title: Filebase IPFS RPC Data Management API
  description: The Filebase IPFS RPC API exposes core IPFS daemon functionality through an HTTP interface. Bucket-specific Bearer tokens authenticate all POST requests. Capabilities span data management (add, get, CAR import), pinning (pin/unpin/list), Mutable File System (MFS) operations, keypair management, IPNS publishing and resolution, and daemon information. Enables fine-grained programmatic control over IPFS operations without running a local node.
  version: '1.0'
  contact:
    name: Filebase Support
    url: https://filebase.com/
    email: support@filebase.com
  termsOfService: https://filebase.com/terms/
  license:
    name: Proprietary
    url: https://filebase.com/terms/
servers:
- url: https://rpc.filebase.io
  description: Filebase IPFS RPC API
security:
- BearerAuth: []
tags:
- name: Data Management
  description: Add, retrieve, and import IPFS data
paths:
  /api/v0/add:
    post:
      operationId: addData
      summary: Add data to IPFS
      description: Add a file or directory to IPFS. Returns the CID of the pinned content.
      tags:
      - Data Management
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: File content to add to IPFS
      parameters:
      - name: pin
        in: query
        description: Pin this object when adding
        schema:
          type: boolean
          default: true
      - name: wrap-with-directory
        in: query
        description: Wrap files with a directory object
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Successfully added to IPFS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v0/cat:
    post:
      operationId: getData
      summary: Get data from IPFS
      description: Retrieve and output the content of a file identified by its CID.
      tags:
      - Data Management
      parameters:
      - name: arg
        in: query
        required: true
        description: The IPFS CID or path to retrieve
        schema:
          type: string
      responses:
        '200':
          description: File content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v0/dag/import:
    post:
      operationId: importCar
      summary: Import a CAR file
      description: Import a CAR (Content Addressable aRchive) file into IPFS.
      tags:
      - Data Management
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: CAR file to import
      responses:
        '200':
          description: CAR import result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarImportResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    Error:
      type: object
      properties:
        Message:
          type: string
          description: Error message
        Code:
          type: integer
          description: Error code
        Type:
          type: string
          description: Error type
    AddResponse:
      type: object
      properties:
        Name:
          type: string
          description: Filename
        Hash:
          type: string
          description: CID of the added content
        Size:
          type: string
          description: Size of the content in bytes
    CarImportResponse:
      type: object
      properties:
        Root:
          type: object
          properties:
            Cid:
              type: object
              properties:
                /:
                  type: string
            PinErrorMsg:
              type: string
  responses:
    Unauthorized:
      description: Unauthorized; Bearer token missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Bucket-specific Bearer token for authentication
externalDocs:
  description: Filebase IPFS RPC API Documentation
  url: https://filebase.com/docs/ipfs/rpc-api
